.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(245, 130, 15);
}

body{
    background-color:rgb(134, 215, 255) ;
}

h1{
    font: 32;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h4{
    font-weight: 210;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;

}

#camera
{
    height: 400px;
    width: 500px;
    border-style: solid;
    border-width: 10px;
    border-color: crimson;
}

.img
{
    height:300px;
    width:200px;
    border-style: solid ;
    border-width: 5px;
    border-color: #f0ffff;
    box-shadow: 0 6px 8px 0 rgba(2,2,2,0.2);
}



img:hover{
   
    border-radius:140px;
   
}

